<h1>Lists</h1>          
<%= link_to "New List", new_board_list_path, class: "ui inverted blue button tiny" %>
<hr />


<% @lists.each do |list| %>
  <div class="ui cards">
    <div class="card">
      <div class="content">
        <div class="header">
          <h2><%= list.list_name %></h2>
        </div>
        <div class="description">
          <% list.tasks.each do |task| %>
            <%= task.task_name %>
            <br />
            <% end %>
        </div>
      </div>
      <div class="extra content">
        <div class="ui three buttons">
          <%= link_to "View Tasks", list_tasks_path(list), class: "ui inverted green button tiny" %>
          <%= link_to "Edit List", edit_board_list_path(@board, list), class: "ui inverted blue button tiny" %>
          <%= link_to "Delete List", board_list_path(@board, list), method: :delete, class: "ui inverted red button tiny" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>